fastapi
uvicorn
streamlit
opencv-python
numpy
torch
ultralytics
paddleocr
paddlepaddle
pillow
sqlalchemy
python-multipart
requests
typing
pydantic_settings
pathlib
psycopg2-binary
pydantic
email-validator
bcrypt
python-jose[cryptography]
PyJWT
